body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 8px;
}

a {
	font-weight: bold;
	color: #003399;
}

h1 {
	background: url(../imagens/tela.png) no-repeat 0px 3px;
	padding-left: 24px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3e3e3e;
	letter-spacing: -1px;
}

.grid {
	border: 1px solid #666666;
	border-spacing: 0;
	border-collapse: collapse;
}

.grid td, .grid th {
	padding: 3px;
}

.grid .cabecalho {
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #666666;
}

.grid .cor-sim {
	background-color: #dbdbdb;
}

.grid .cor-nao {
	background-color: #e6e6e6;
}

.form-grid {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #cccccc;
	margin-top: 8px;
}

.form-grid .label {
	font-weight: bold;
	text-align: right;
	padding: 0px 5px;
}

.form-grid .campo {
	padding-right: 5px;
}

ul.form-messages {
	padding-left: 20px;
}

.form-messages .error {
	color: #e81f1f;
}

.form-messages .info {
	color: #156b2a;
}