<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/Layout.xhtml">
	
	<ui:define name="content">
		<h1 class="aw-page-title">Pessoa</h1>
		
		<h:form id="frm">
			
			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton value="Editar" action="#{usuarioBean.alterarPropriaSenha()}"
						process="@this capaPanel" />
				</p:toolbarGroup>
			</p:toolbar>
			
			<p:messages  showDetail="true" autoUpdate="true" closable="true" />
			
			<div class="ui-fluid">
				<p:panelGrid id="capaPanel" columns="2" layout="grid" 
					style="margin-top: 20px; margin-bottom: 40px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-4">
				
					<p:outputLabel value="Senha" for="senha" />
					<p:password id="senha" value="#{usuarioBean.usuario.senha}" />			
					
				</p:panelGrid>
			</div>
		</h:form>
	</ui:define>
	
</ui:composition>