<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/Layout.xhtml">

<f:metadata>
	<f:viewParam name="codigo" value="#{usuarioBean.usuario}" converter="usuarioConverter"/>	
</f:metadata>
	
	<ui:define name="content">
		<h1 class="aw-page-title">Usuario</h1>
		
		<h:form id="frm">
			
			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton value="Editar" action="#{usuarioBean.editar()}"
						process="@this capaPanel" />
				</p:toolbarGroup>
			</p:toolbar>
			
			
			<div class="ui-fluid">
				<p:panelGrid id="capaPanel" columns="4" layout="grid" 
					style="margin-top: 20px; margin-bottom: 40px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">
				
					<p:outputLabel value="Login" for="login" />
					<p:inputText id="login" value="#{usuarioBean.usuario.login}" />
					
					<p:outputLabel value="Grupo" for="grupo" />
					<p:selectManyCheckbox id="grupo" value="#{usuarioBean.usuario.grupos}" converter="grupoConverter" layout="pageDirection" columns="2">
					<f:attribute name="collectionType" value="java.util.ArrayList"/>
        			<f:selectItems value="#{grupoBean.listar()}" var="grupos" itemValue="#{grupos}" itemLabel="#{grupos.nome}"/>
    				</p:selectManyCheckbox>					
					
				</p:panelGrid>
			</div>
		</h:form>
	</ui:define>
	
</ui:composition>