<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="WEB-INF/template/Layout.xhtml">
	
	<ui:define name="content">
		<h1 class="aw-page-title">Pagina inicial</h1>
		
	</ui:define>
	
</ui:composition>