<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	template="/WEB-INF/template/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">usuario</h1>

		<h:form id="frm">

			<p:toolbar id="toolbar">
				<p:toolbarGroup>

					<p:commandButton value="Novo" icon="ui-icon-plus"
						action="#{usuarioBean.novo}" process="@this"
						disabled="#{not seguranca.acessoCadastroPermitido}"/>

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Editar" icon="ui-icon-pencil"
						title="Editar" process="@this" action="#{usuarioBean.edicao}"
						disabled="#{usuarioBean.usuarioSelecionado == null or not seguranca.acessoEdicaoPermitido}" />

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Excluir" icon="ui-icon-trash"
						title="Excluir" process="@this" update="tabela_usuarios toolbar"
						action="#{usuarioBean.excluir}"
						disabled="#{usuarioBean.usuarioSelecionado == null or not seguranca.acessoRemocaoPermitido}"
						onclick="if (!confirm('Deseja deletar  #{usuarioBean.usuarioSelecionado.login} ? ')) return false" />

					<span class="ui-separator"> <span
						class="ui-icon ui-icon-grip-dotted-vertical" />
					</span>

					<p:commandButton value="Alterar Senha" icon="ui-icon-pencil"
						title="Editar" process="@this" action="#{usuarioBean.alteracaoSenha}"
						disabled="#{usuarioBean.usuarioSelecionado == null or not seguranca.acessoEdicaoPermitido}" />


				</p:toolbarGroup>
			</p:toolbar>

			<p:dataTable id="tabela_usuarios" var="usuario"
				value="#{usuarioBean.listar()}" frame="box" rules="all"
				cellpadding="3" width="100%" headerClass="cabecalho"
				rowClasses="cor-sim, cor-nao" columnClasses="nome"
				emptyMessage="Nenhuma usuario Cadastrada"
				selection="#{usuarioBean.usuarioSelecionado}" selectionMode="single"
				rowKey="#{usuario.codigo}">
				
			<p:ajax event="rowSelect" update=":frm:toolbar" />
			<p:ajax event="rowUnselect" update=":frm:toolbar" />

				<p:column filterBy="#{usuario.login}"
					style="text-align: center; width:5%" filterMatchMode="startsWith">
					<f:facet name="header">
						<h:outputText value="Login" />
					</f:facet>
					<h:outputText value="#{usuario.login}" />
				</p:column>

				<p:column style="text-align: center; width:5%">
					<f:facet name="header">
						<h:outputText value="Grupos" />
					</f:facet>
					<ui:repeat var="grupo" value="#{usuario.grupos}">
						<h:outputText value="#{grupo.nome}" />
						<br></br>
					</ui:repeat>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>